@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.otf');
}

html, body {
  font-family: 'Avenir';
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Headings and Text */
h1 {
  text-align: center;
  font-size: 64px;
  color: #5E9370;
  margin-top: 64px;
  margin-bottom: 80px;
}

h2 {
  font-size: 48px;
  color: #5E9370;
  margin: 0;
}

p {
  font-size: 26px;
}

/* Images */
img {
  width: 36vw;
  max-height: 422px;
  object-fit: cover;
  border-radius: 12px;
}

/* Containers */
.container {
  display: flex;
  margin: 0 129px 80px;
}

.image:nth-child(odd) {
  display: flex;
  margin-right: 146px;
}

.image:nth-child(even) {
  display: flex;
  margin-left: 146px;
}

.content {
  flex-direction: column;
}
