<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/about.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
</head>
<body>
  <h1>About Us</h1>
  <div class="container">
    <div class="image">
      <img src="../static/images/mike&jenny&cash.JPG" alt="Mike, Jenny, & Cash">
    </div>
    <div class="content">
      <h2>Our story...</h2>
      <p>
        Smallgoods American Cheeses & Provisions got its start in the San Diego Farmer's Markets in November, 2015.  In February 2020, just 3 weeks before Covid - we opened our brick-and-mortar shop. Lousy timing!  But we're proud to have made it to the other side.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <h2>Our shop...</h2>
      <p>
        We're our version of a gourmet deli, cafe, caterer and some say we make the best sandwiches and charcuterie platters around. We're a husband and wife team +1 employee that exclusively specializes in American-made regional and seasonal cheeses, cured meats and domestic and local Farmer Market finds.
      </p>
    </div>
    <div class="image">
      <img src="../static/images/SmallgoodsShop.JPG" alt="SmallGoods Shop">
    </div>
  </div>
  <div class="container">
    <div class="image">
      <img id="cheese" src="../static/images/IMG_6802.png" alt="Holding up Cheese">
    </div>
    <div class="content">
      <h2>Our makers...</h2>
      <p>
        Our American makers are the best-of-the-best and deserve 100% of our commitment and our support - and that's what we've been doing for longer than any other retailer.
      </p>
    </div>
  </div>
</body>
</html>