<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--link to font-->
    <link rel="stylesheet" href="../static/css/catering.css">
</head>

<body>
    <!--------NAVBAR--------->
    <header>
        <nav class="navBar">
            <img class="navImg" src="../static/images/navLogo.png" alt="navLogo">

            <ul class="navHome">
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/menu.html">Menu</a></li>
                <li><a href="../templates/catering.html"><span id="underline">Catering</span></a></li>
                <li><a href="#">About</a></li>
            </ul> 

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <!--------Catering--------->
    <div class="catering">
        <h1>Catering</h1>


        <div class="grid">
            <img src="../static/images/caterVectorL.svg" id="caterVectorL">
            <div class="sliding">
                <div class="side-crop1"><img src="../static/images/cattering1.png" class="cater1" ></div>
                <div><img src="../static/images/cattering2.png" class="cater2"></div>
                <div class="side-crop"><div ><img src="../static/images/cattering3.png" class="cater3" ></div></div>
                
            </div>
            <img src="../static/images/caterVectorR.svg" id="caterVectorR">


            <div class="container">
                <div class="carousel">
                    <div class="slider">
                        <section><img src="../static/images/cattering1.png" alt=""></section>
                        <section><img src="../static/images/cattering2.png" alt=""></section>
                        <section><img src="../static/images/cattering3.png" alt=""></section>
                    </div>
                    <div class="controls">
                        <span class="arrow left"><img src="../static/images/caterVectorL.svg"></span>
                        <span class="arrow right"><img src="../static/images/caterVectorR.svg"></span>
                    </div>
                </div>
            </div>


            <div class="whatdo">
                <div class="pblock">
                    <h3>What We Do</h3>
                    
                    <p>
                        We are here to step your event to the next level with our fresh, 
                        American-farmstead cheese and cured meats anytime, anywhere. 
                        Each catering order are ALL custom made-to-order and are as unique as your needs, 
                        style and tastes.
                    </p>
                </div>
            </div>
            
            <div class="whatfor">
                <div class="pblock">
                    <h3>Who/What is Catering for?</h3>
                    
                    <p>
                        Our services are available for any special occasion you may have. Birthday parties, 
                        business events, family/friend reunions, etc. 
                        We can cater to your needs to make any special event delicious and memorable! 
                        Don't be afraid to contact us even if it's last minute!
                    </p>
                </div>
            </div>
            
        </div>
    </div>

    

    <!--Types-->
    <div class="types">
        <h2>Types of Services</h2>

        <div class="gridContainer">
            <h3 class="x">Your Place</h3>
            <img src="../static/images/yourplace.png" class="yourplace">

            <div class="tt">
                <div class="pblock">
                    <br class="hide">
                    <br class="hide1">
                    <br > 
                    <p>
                        Have a place in mind? We can transport and serve our goods to any business functions or recreational event. 
                        Most importantly, we keep it fun, informative, educational and very very tasty. 
                        We can also bring our venue to any location you choose.
                    </p>

                    <br>
    
                    <p class="bold">
                        If you would like this option, call us at (858) 886 7217, or fill out the form below.   
                    </p>
    
                    <div class="btn"><a href="https://forms.gle/v3EMwVDJkB5m9SrX7"><p>Your Place Form</p></a></div>
                </div>
            </div>

            
            <h3 class="y">Our Place</h3>

            <img src="../static/images/ourplace.png" class="ourplace">

            <div class="tt2">
                <div class="pblock">
                    <br class="hide">
                    <br class="hide1">
                    <br > 
                    <p>
                        Want to have an exclusive and intimate environment? Our cafe is the perfect venue to impress your clients, 
                        treat your staff, or create memories with family and friends! Sit back, relax, 
                        and enjoy our goods without any worry or hassle!
                    </p>
    
                    <br>
    
                    <p class="adress">7524 La Jolla Blvd, La Jolla, CA 92037 </p>
    
                    <br>
    
                    <p class="bold">
                        If you would like this option, call us at (858) 886 7217, or fill out the form below.   
                    </p>
    
                    <div class="btn"><a href="https://forms.gle/Hj6nA7tBx95xBqm27"><p>Our Place Form</p></a></div>
                </div>
            </div>
            
        </div>

        
    </div>

    <div class="process">
        <h2>Our Catering Process</h2>

        <div class="pgrid">
            <img src="../static/images/rewardCatter.png" alt="rewardCatter">

            <div class="processContent">
                <p>Our catering process is simple and stress-free! Just give us a call or fill out our contact form at your own convenience. 
                    You tell us your needs and we will follow up with you as soon as possible. 
                    We take special care and preparation for every unique catering order request. 
                    Our specialty is bring a customized, memorable experience for every customer no matter the time or place! 
                </p>
        
                <br>
        
                <p class="bold">
                    Catering prices are negotiated by customer needs and head count. 
                    Please contact us and we'll make sure your order is quick and easy.
                </p>
        
                <br>
            </div>
    
            <p style="color: #5E9370;" class="green">We were voted Best Catering in Reader's Choice Awards!</p>
        </div>
        
        

        

        
    </div>

    <div class="faq">
        <h2>FAQ</h2>

        <p class="q">What are the prices for catering? </p>

        <br>

        <p>
            The price of catering depends on a variety of factors, such as the types of cheese, 
            where it is hosted, how many people we're serving, etc. 
            We will walk you through all the costs depending on your situation and have the best price for you.
        </p>

        <br>

        <p class="q">When do I have to call to place my catering order? </p>

        <br>

        <p>
            We are able to work with your busy schedule and be able to make your order on-the-spot. 
            24 hour notice is preferred, but don't be afraid to call last minute!
        </p>

        <br>

        <p class="q">Is there a menu specfically for catering that I can choose from? </p>

        <br>

        <p>
            We'll introduce you to all of our amazing options once you contact us!
        </p>

        <br>

        <p class="q">Is there a minimum to party size? </p>

        <br>

        <p>
            There is no minimum to party size. We can work with as little or as many people in your party/event.
        </p>
    </div>

   <!--Footer-->
<footer>
    <img class="footerLogo" src="../static/images/footerLogo.png" alt="footerLogo">

    <div class="flexContainer">
        <div class="links">
            <ul>
                <li><a href="#"><h4>Hours</h4></a></li>
                <li><a href="#"><h4>Locations</h4></a></li>
            </ul>
            
        </div>

        <div class="connect">
            <h4>Connect With Us</h4>

            <ul>
                <li><a href="#">(858) 886-7217</a></li>
                <li><a href="#">info@smallgoodsusa.com</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>

        <div class="social">
            <a href="https://www.instagram.com/smallgoods_/?hl=en">
                <img src="../static/images/instagram.svg" alt="insIcon">
            </a>

            <a href="https://www.tripadvisor.com/Restaurant_Review-g32578-d20815863-Reviews-Smallgoods_Cheese_Shop_Cafe-La_Jolla_San_Diego_California.html">
                <img src="../static/images/tripadvisor.svg" alt="tripIcon">
            </a>

            <a href="https://www.yelp.com/biz/smallgoods-cheese-shop-and-cafe-la-jolla-3?osq=smallgood">
                <img src="../static/images/yelp.svg" alt="yelpIcon">
            </a>

            <a href="https://www.facebook.com/smallgoodsUSA">
                <img src="../static/images/facebook.svg" alt="fbIcon">
            </a>

            <a href="https://twitter.com/SmallgoodsUSA">
                <img src="../static/images/twitter.svg" alt="twitterIcon">
            </a>

            

            <a href="https://www.ubereats.com/store/smallgoods-cheese-shop-%26-cafe/rpixbJypWOugIMbPzWDvqw">
                <img src="../static/images/UberEats.svg" class="UberEats">
            </a>
            
        </div>
    </div>
</footer>

    <script src="../scripts/catering.js"></script>
</body>
</html>