<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--link to font-->
    <link rel="stylesheet" href="../static/css/home.css">
    
</head>

<body>
    <header>
        <nav class="navBar">
            <div class="navHome">
                <ul >
                    <li><a href="../templates/home.html"><span id="underline">Home</span></a></li>
                </ul>
    
                <ul ><li><a href="../templates/menu.html">Menu</a></li></ul>

                <img class="navImg" src="../static/images/navLogo.png" alt="navLogo">

                <ul ><li><a href="#">Catering</a></li></ul>

                <ul >
                
                    <li><a href="#">About</a></li>
                </ul>
    
            </div>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <!-- ALBERT-->
    <div id = "top" class="top_half">
        <!-- BODY_TOP -->
        <div id = "mastBLOCK" class="mast">

            <!-- LEFT_BODY_TOP -->
            <div class="photo_left">
                <div class="left_top"> <img class = "img1" src="../static/images/dragonfruit.png" alt="dragonfruit_photo" /> </div>
                <div class ="left_bot"> <img class = "img2" src="../static/images/fullplatteredit.png" alt="fullplatter_photo" /> </div>
            </div>
                
            <!-- MIDDLE_BODY_TOP -->
            <div class="photo_mid">
                <div class="mid_top">
                    <img class = "logo" src="../static/images/logo.png" alt="smalllogo_photo" />
                    <img class = "img4" src="../static/images/tofu.png" alt="tofu_photo" /> 
                </div>
                <div class="text">
                    <img class = "text1" src="../static/images/text1.png" alt="text1_photo" />
                <img class = "text2" src="../static/images/text2.png" alt="text2_photo" />
                </div>
                <div class="mid_mid">
                    <a href = "/Users/albertpan/Desktop/smallgoods/menu.html" class = "button1">    <!-- button1 -->
                        <img class = "button1" src="../static/images/menu_button.png" alt="button1_photo" />
                    </a>
                    <a href = "https://www.ubereats.com/store/smallgoods-cheese-shop-%26-cafe/rpixbJypWOugIMbPzWDvqw" class = "button2"> <!-- button2 -->
                        <img class = "button2" src="../static/images/ubereats_button.png" alt="button2_photo" /> 
                    </a>
                </div>
                <div class="mid_bot">
                    <img class = "img3" src="../static/images/grapes.png" alt="grapes_photo" /> 
                    <img class = "button_down" src="../static/images/downbutton.png" alt="downbutton_photo" />
                </div>
            </div>

            <!-- RIGHT_BODY_TOP -->
            <div class="photo_right"> 
                <img class = "img5" src="../static/images/halfplatter.png" alt="halfplatter_photo" /> 
            </div>
        </div>

        <!-- BODY_BOTTOM -->
        <div class="learnaboutus_section">
            <div class="aboutus_left">
                <img class = "img6" src="../static/images/owners.png" alt="owners_photo" />
            </div>
            <div class="aboutus_right">
                <img class = "text3" src="../static/images/learnaboutus_text.png" alt="text3_photo" />
                <a href = "/Users/albertpan/Desktop/smallgoods/aboutus.html" class = "button3"> <!-- button3 -->
                    <img class = "button3" src="../static/images/learnaboutus_button.png" alt="button3_photo" />
                </a>
            </div>
        </div>

    </div>

    <!--ROSE-->
    <!--Where to Find Us -->
    <div class="whereToFindUs">
        
        <h1>Where to Find Us</h1>

        <div class="grid">
            <div class="physicalStore">
                <h2>Physical Store</h2>
    
                <p class="adress">7524 La Jolla Blvd, La Jolla, CA 92037</p>

                <br>
    
                <p class="content">We're located across from the Bishop's School - just past Pearl St. on La Jolla Blvd. with 15 min parking right out front.</p>
    
                <img src="../static/images/phyStore.png" class="phyStore">
            </div>
    
            <div class="storeHour">
                <h3 class="store">Store Hours</h3>

                <div class="storewrapper">
                    <ul class="workDay">
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                        <li>Sunday</li>
                    </ul>
        
                    <ul class="workHour">
                        <li>CLOSED</li>
                        <li>9AM - 5 PM</li>
                        <li>9AM - 5 PM</li>
                        <li>9AM - 5:30PM</li>
                        <li>9AM - 5:30PM</li>
                        <li>9AM - 5PM</li>
                        <li>CLOSED</li>
                    </ul>
                </div>
    
                <p class="storeP">(Every other Sunday, we are located at the Farmer's Market from 9 AM - 1 PM)</p>
            </div>
    
            <div class="openMkt">
                <h2>La Jolla Open Aire Farmer's Market</h2>
    
                <p class="content">We are located at the Farmer's Market every other Sunday from 9 AM - 1 PM.</p>

                <br>
    
                <p>7335 Girard Ave, La Jolla, CA 92037</p>
            </div>
    
            <div class="mktPopUp">
                <h2>Farmer's Market Pop-Ups</h2>
    
                <p>Frankie & Antonio, from Heritage Farms Farmer's Market Stand join us every Thursday from 9AM to 3PM in front of our shop.</p>
    
                <img src="../static/images/popUp.png" class="popUp">
            </div>
        </div>
    </div>

    <!--Instagram Embed-->
    <div class="instagram">
        <h1>Follow along @smallgoods_</h1>

        
        <div class="embedsocial-hashtag" data-ref="f6b3265d7a6f28a5911e50f8b0b32eb7a2665d9e"> 
            <a class="feed-powered-by-es feed-powered-by-es-feed-new" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Widget by EmbedSocial"> Widget by EmbedSocial<span>→</span> </a> 
        </div>
        <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
    </div>

    

    <!--Footer-->
    <footer>
        <img class="footerLogo" src="../static/images/footerLogo.png" alt="footerLogo">

        <div class="flexContainer">
            <div class="links">
                <ul>
                    <li><a href="#"><h4>Hours</h4></a></li>
                    <li><a href="#"><h4>Locations</h4></a></li>
                </ul>
                
            </div>
    
            <div class="connect">
                <h4>Connect With Us</h4>
    
                <ul>
                    <li><a href="#">(858) 886-7217</a></li>
                    <li><a href="#">info@smallgoodsusa.com</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
    
            <div class="social">
                <a href="#">
                    <img src="../static/images/instagram.svg" alt="insIcon">
                </a>
    
                <a href="#">
                    <img src="../static/images/tripadvisor.svg" alt="insIcon">
                </a>
    
                <a href="#">
                    <img src="../static/images/yelp.svg" alt="insIcon">
                </a>
    
                <a href="#">
                    <img src="../static/images/facebook.svg" alt="insIcon">
                </a>
    
                <a href="#">
                    <img src="../static/images/twitter.svg" alt="insIcon">
                </a>
    
                <a href="#">
                    <img src="../static/images/UberEats.svg" class="UberEats">
                </a>
                
            </div>
        </div>
    </footer>

    <script src="../scripts/home.js"></script>
</body>
</html>