<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--link to font-->
    <link rel="stylesheet" href="../static/css/menu.css">
    <script src="../scripts/menu.js"></script>
</head>
<body>
    <!--------NAVBAR--------->
    <header>
        <nav>
            <ul class="navLeft">
                <li><a href="../templates/home.html">Home</a></li>
                
            </ul>

            <ul><li><a href="../templates/menu.html"><span id="underline">Menu</span></a></li></ul>

            <img src="../static/images/navLogo.png" alt="navLogo">

            <ul><li><a href="#">Catering</a></li></ul>

            <ul>
                
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>

  <!--------HEADER--------->
  <div class="menuHeader">
    
  </div>

  <div class="menuContent">

    <div class="menuSandwich">
        <img src="../static/images/rewardMeal.png" class="rewardMeal">
        <h2>Sandwiches</h2>
        <img src="../static/images/rewardSandwich.png" class="rewardSandwich">
        <p>Served on Bread Bar Pullman Loaf or Hommage Bakehouse Baguette (+$1) when available</p>

        <h3><span style="color: #5E9370">Platter It</span> | +$5</h3>
        <p>Add unique cheeses & cured meats as a side to your sandwich. </p>
        <div class="gridContainer">
            <div class="menuGroup">
                <img src="../static/images/SMALLGOODS AMERICAN ITALIAN 1.png" alt="menu1">
                <h3><span style="color: #5E9370">Smallgoods Sampler Sando</span> | $12</h3>
                <p>Assortment of American Meats (3) + Alpine Cheese + Arugula + Olive Oil + Big Bill's Mustard + Mayo + Seasonings.</p>
            </div>
    
            <div class="menuGroup">
                <img src="../static/images/SMALLGOODS_CHEESE & TURKEY 1.png" alt="menu1">
                <h3><span style="color: #5E9370"></span>California Turkey & Cheese | $12</h3>
                <p>California Swiss + Roasted Turkey + Green Apple + Cucumber + Micro Greens + Smoked Jam + Big Bill's Mustard + Mayo.</p>
            </div>
    
            <div class="menuGroup">
                <img src="../static/images/SMALLGOODS GOLDEN GATE PHONEY BALONEY 2.png" alt="menu1">
                <h3><span style="color: #5E9370">Golden Gate Phoney Baloney</span> | $12</h3>
                <p>San Francisco Mortadella + Aged Cheddar + Micro Greens + Red Onion + Apple Butter Jam + Dijon Mustard + Mayo.</p>
            </div>
    
            <div class="menuGroup">
                <img src="../static/images/SMALLGOODS CHEESE & HAM 1.png" alt="menu1">
                <h3><span style="color: #5E9370">Oregon Cheese & Ham</span> | $12</h3>
                <p>Oregon Aged Cheddar + Golden Nugget Ham + Red Apple + Micro Greens + Smoked Jam + Big Bill's Mustard + Mayo.</p>
            </div>
    
            <div class="menuGroup">
                <img src="../static/images/SMALLGOODS_HOLEYMOLE 1.png" alt="menu1">
                <h3> </h3>
                <p>Assortment of American Meats (3) + Alpine Cheese + Arugula + Olive Oil + Big Bill's Mustard + Mayo + Seasonings.</p>
            </div>
    
            <div class="menuGroup">
                <img src="../static/images/SMALLGOODS_COLORADO WAGYU 1.png" alt="menu1">
                <h3><span style="color: #5E9370">California Wagyu Bresaola</span> | $14</h3>
                <p>California Swiss + Roasted Turkey + Green Apple + Cucumber + Micro Greens + Smoked Jam + Big Bill's Mustard + Mayo.</p>
            </div>
    
            <div class="menuGroup">
                <img src="../static/images/SMALLGOODS NORCAL VEGGIE 1.png" alt="menu1">
                <h3> </h3>
                <p>San Francisco Mortadella + Aged Cheddar + Micro Greens + Red Onion + Apple Butter Jam + Dijon Mustard + Mayo.</p>
            </div>
    
            <div class="menuGroup">
                <img src="../static/images/SMALLGOODS SOCAL VEGGIE 1.png" alt="menu1">
                <h3><span style="color: #5E9370">SoCal Veggie</span> | $12</h3>
                <p>Oregon Aged Cheddar + Golden Nugget Ham + Red Apple + Micro Greens + Smoked Jam + Big Bill's Mustard + Mayo.</p>
            </div>
        </div>
        
    </div>

    <div class="menuSalad">
        <h2>Salad</h2>

        <h3><span style="color: #5E9370">Local Micro Green Salad</span> | $12</h3>

        <p>Local Market Micro Greens served with light lemon vinaigrette dressing.
            <br>add Farmstead cheeses | +$3 
            <br>add American charcuterie | +$3</p>
    </div>

    <div class="menuCheese">
        <h2>Cheese Trays</h2>

        <div class="gridContainer">
            <div class="menuGroup">
                <img src="../static/images/BeachBox.png" alt="menu1">
                <h3><span style="color: #5E9370">Beach Box</span> | $24</h3>
                <p>A solid, snack-size offering of farmstead cheeses & meats plus accompaniments for 1-2. 
                    <br>add Paté (when available) | +$4</p>
            </div>
    
            <div class="menuGroup">
                <img src="../static/images/AmericanTray.png" alt="menu1">
                <h3><span style="color: #5E9370">American Cheese & Charcuterie Tray</span> | $12</h3>
                <p>A fantastic selection of cheeses, fresh fruits, dried fruits, crackers and more.
                    <br>add cured meats | +&4
                    <br>add Paté (when available) | +$4</p>
            </div>
        </div>

        
    </div>

    <div class="menuDaily">
        <img src="../static/images/rewardSoup.png" alt="rewardSoup">

        <h2>Daily</h2>

        <p>Fresh Soups | Empanadas | Fresh Pasta | Pastries & Baguettes</p>
    </div>

    <div class="menuDrink">
        <h2>Drinks</h2>

        <p>Hot/Iced Teas: Mango Ceylon | Lemon Ginger Mint | Hibiscus | Turmeric | Earl Grey
            <br>Hot/Iced Coffee: Espresso | Cappuccino | Latte
            <br>Kombucha | Lemonade | Fresh Juices | Bottled & Sparkling Water</p>
    </div>
  </div>

  <!--Footer-->
  <footer>
    <img class="footerLogo" src="../static/images/footerLogo.png" alt="footerLogo">

    <div class="flexContainer">
        <div class="links">
            <ul>
                <li><a href="#"><h4>Hours</h4></a></li>
                <li><a href="#"><h4>Locations</h4></a></li>
            </ul>
            
        </div>

        <div class="connect">
            <h4>Connect With Us</h4>

            <ul>
                <li><a href="#">(858) 886-7217</a></li>
                <li><a href="#">info@smallgoodsusa.com</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>

        <div class="social">
            <a href="#">
                <img src="../static/images/instagram.svg" alt="insIcon">
            </a>

            <a href="#">
                <img src="../static/images/tripadvisor.svg" alt="insIcon">
            </a>

            <a href="#">
                <img src="../static/images/yelp.svg" alt="insIcon">
            </a>

            <a href="#">
                <img src="../static/images/facebook.svg" alt="insIcon">
            </a>

            <a href="#">
                <img src="../static/images/twitter.svg" alt="insIcon">
            </a>

            <a href="#">
                <img src="../static/images/UberEats.svg" class="UberEats">
            </a>
            
        </div>
    </div>
</footer>
    
</body>
</html>